MVC_WCF_WebApi_App/POPSMvcWcfWebAPIApplication/POPSMvcWcfApplication/Service References/ServiceReference1/PopsService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/POPSWcfService.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/POPSWcfService.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Item">
    <xs:sequence>
      <xs:element minOccurs="0" name="ITCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ITDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ITRate" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Item" nillable="true" type="tns:Item" />
  <xs:complexType name="ArrayOfItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Item" nillable="true" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItem" nillable="true" type="tns:ArrayOfItem" />
  <xs:complexType name="Supplier">
    <xs:sequence>
      <xs:element minOccurs="0" name="SUPLADDR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SUPLNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SUPLNO" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Supplier" nillable="true" type="tns:Supplier" />
  <xs:complexType name="ArrayOfSupplier">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Supplier" nillable="true" type="tns:Supplier" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSupplier" nillable="true" type="tns:ArrayOfSupplier" />
  <xs:complexType name="ArrayOfPurchaseOrderMaster">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PurchaseOrderMaster" nillable="true" type="tns:PurchaseOrderMaster" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPurchaseOrderMaster" nillable="true" type="tns:ArrayOfPurchaseOrderMaster" />
  <xs:complexType name="PurchaseOrderMaster">
    <xs:sequence>
      <xs:element minOccurs="0" name="PODate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PODetails" nillable="true" type="tns:ArrayOfPurchaseOrderDetails" />
      <xs:element minOccurs="0" name="PONO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SUPLNO" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PurchaseOrderMaster" nillable="true" type="tns:PurchaseOrderMaster" />
  <xs:complexType name="ArrayOfPurchaseOrderDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PurchaseOrderDetails" nillable="true" type="tns:PurchaseOrderDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPurchaseOrderDetails" nillable="true" type="tns:ArrayOfPurchaseOrderDetails" />
  <xs:complexType name="PurchaseOrderDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="ITCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PONO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Qty" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PurchaseOrderDetails" nillable="true" type="tns:PurchaseOrderDetails" />
</xs:schema>