MVC_WCF_WebApi_App/POPSMvcWcfWebAPIApplication/POPSMvcWcfApplication/Service References/ServiceReference1/PopsService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62066/PopsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/POPSWcfService.Entities" />
  <xs:element name="GetItemById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/POPSWcfService.Entities" minOccurs="0" name="GetItemByIdResult" nillable="true" type="q1:Item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/POPSWcfService.Entities" minOccurs="0" name="item" nillable="true" type="q2:Item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddItemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllItems">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/POPSWcfService.Entities" minOccurs="0" name="GetAllItemsResult" nillable="true" type="q3:ArrayOfItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveItemDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/POPSWcfService.Entities" minOccurs="0" name="ItemsDetails" nillable="true" type="q4:ArrayOfItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveItemDetailsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/POPSWcfService.Entities" minOccurs="0" name="GetSupplierByIdResult" nillable="true" type="q5:Supplier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSuppier">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/POPSWcfService.Entities" minOccurs="0" name="supplier" nillable="true" type="q6:Supplier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSuppierResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSuppliers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSuppliersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/POPSWcfService.Entities" minOccurs="0" name="GetAllSuppliersResult" nillable="true" type="q7:ArrayOfSupplier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSupplierDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/POPSWcfService.Entities" minOccurs="0" name="SupplierDetails" nillable="true" type="q8:ArrayOfSupplier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSupplierDetailsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOrders">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/POPSWcfService.Entities" minOccurs="0" name="GetAllOrdersResult" nillable="true" type="q9:ArrayOfPurchaseOrderMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/POPSWcfService.Entities" minOccurs="0" name="GetOrderDetailsResult" nillable="true" type="q10:ArrayOfPurchaseOrderDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/POPSWcfService.Entities" minOccurs="0" name="purchaseOrder" nillable="true" type="q11:PurchaseOrderMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrderResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>